:root {
  --menu-padding-left: 14px;
}

.navigation__menu {
  position: fixed;
  top: 31px;
  left: 0;

  overflow-y: scroll;

  height: 100%;
  height: calc(100vh - 31px);
  padding: 10px 0 0 3px;

  background-color: var(--color-main-bg);
}

.navigation__icon {
  cursor: pointer;
}

.navigation__icon svg {
  width: 20px;
  height: 20px;
  padding: 0;
}

.navigation__menuItem {
  padding-left: var(--menu-padding-left);

  font-size: var(--fz-sm);
}

.navigation__menu > li {
  font-size: var(--fz-sm);
}

.navigation__menu > li[class^='ant-menu-item'] {
  padding-left: var(--menu-padding-left) !important;
}

.navigation__menu > li[class^='ant-menu-submenu'] div {
  padding-left: var(--menu-padding-left) !important;
}

.navigation__menu > li[class^='ant-menu-submenu'] div:hover {
  color: var(--color-white);
}

@media screen and (min-width: 580px) {
  .navigation__menu {
    width: 340px;
  }
}

@media screen and (min-width: 780px) {
  .navigation__menu {
    overflow-y: auto;
  }
}
