.monitoring__table tr:hover td {
  background-color: var(--color-grey) !important;
}

.monitoring__bar {
  display: flex;

  padding-right: 15px;
  padding-left: 15px;
  gap: 15px;
}

.monitoring__options {
  display: flex;
  gap: 15px;
}

.monitoring__optionColumns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal__footer {
  display: flex;
  gap: 10px;

  justify-content: space-between;
}

.modal__footerLeftBtn {
  margin-right: auto;
}
